/*==========================[SENSORS.CSS - Specjalny CSS podstrony]==============================*/
/*======================[ZAWARTOŚĆ: SZABLON INTERFEJSU, UKŁAD RESPONSYWNY]=======================*/
/*===============================================================================================*/
/*===============================[OSTATNI UPDATE: 20.07.2020]====================================*/
/*===============================================================================================*/
/*====================================[COPYRIGHT JK 2020]========================================*/
/*===============================================================================================*/


/*==========================[Deklaracje czcionek serwisu]===========================*/
@font-face{

	font-family: czcionka;
	src:url(fonts/1.otf);
}

@font-face{

	font-family: user_czcionka;
	src:url(fonts/Oxygen-Bold.ttf);
}
/*==================================================================================*/


/*==================================================================================*/
/*=============================[CSS RESPONSIVE NORMAL]==============================*/
/*============================[Min: 1280px Max: 1920px]=============================*/
/*==================================================================================*/
/*--------------------------------------------------------------------------------------------------------NORMALNY-----------------*/
/*PRZECIĘTNY EKRAN 1280->1920*/
@media screen and (min-width:1280px) and (max-width:3086px)
{

}


/*==================================================================================*/
/*==============================[CSS RESPONSIVE SMALL]==============================*/
/*=============================[Min:786px  Max: 1279px]=============================*/
/*==================================================================================*/
/*---------------------------------------------------------------------------------------------------------MINI EKR-----------------*/
/*MAŁY EKRAN!*/
@media screen and (min-width:786px) and (max-width: 1279px)
{


}
/*==================================================================================*/
/*=============================[CSS RESPONSIVE MOBILE]==============================*/
/*=============================[Min: 240px Max: 785px]==============================*/
/*==================================================================================*/
/*---------------------------------------------------------------------------------------------------------MOBILNE-----------------*/
/*MOBILNE!*/
@media screen and (min-width:240px) and (max-width:785px)
{




}/*Koniec Responsive CSS*/

/*=================================================================================================================================*/
/*=============================[KONIEC CSS RESPONSIVE]=============================================================================*/
/*=================================================================================================================================*/
/*=================================================================================================================================*/
/*=============================[KONIEC CSS RESPONSIVE]=============================================================================*/
/*=================================================================================================================================*/
